.NavBar {
  background-color: #FF6636;
}

.NavBar h1 {
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 35px;
}

.Menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.Menu Button {
  border: none;
  padding-right: 20px;
  color: white;
  font-size: 15px;
}
